.navbar-na{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.navbar-na .nav-ite{
    margin: 20px;
    color: white;
}

.navbar-na .nav-ite :hover{
    color: black;
    cursor: pointer;
}